<p id="notice"><%= notice %></p>

<div><center>
    <%= form_tag store_index_path, :method => 'get' do %>
  <td><br><%= text_field_tag :search, params[:search], placeholder: "Search Catalog"%>
    <%= submit_tag("Search") %></td>
    <% end %>
</center></div>

	<h1>Products</h1>
		<table>
			<% @products.each do |product| %>
				<tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
					<td>
					<%= image_tag(product.image.url, class: 'list_image') %>
    			 </td>
					<td class="list_description">
					<dl>
					<dt><%= product.title %></dt>
					<dd>Category: <%= product.category.try(:name) %></dd>
					<dd><%= truncate(strip_tags(product.description),length: 1000) %></dd>
					<p>Stock: <%= product.stock%></p>
					</dl>
					</td>
					<td class="list_actions">
					<br>
					<%= link_to 'Show', product,class: "small button" %></td>
					<td><br><%= link_to 'Edit', edit_product_path(product), class: "small button" %></td>
					<td><br><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' },class: "small button" %>
					</td>
				</tr>
		<% end %>
		</table>
		<br>
<%= link_to 'New product', new_product_path,class: "big button" %>